/* - - - - - - - - - - - - - */
/* F O N T S */
/* - - - - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* - - - - - - - - - - - - - */
/* R E S E T */
/* - - - - - - - - - - - - - */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
/* - - - - - - - - - - - - - */
/* G E N E R A L */
/* - - - - - - - - - - - - - */
body {
    font-family: Poppins, sans-serif;
    color: #fff6;
}
nav.nav {
    position: fixed;
    top: 20px;
    left: 20px;
    a:is(:link, :visited) {
        border-radius: 50%;
        background-color: #fff6;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease-in;
        width: 40px;
        svg {
            width: 24px;
            transition: all 0.4s 0.2s ease-in;
        }
        &:hover {
            background-color: #fffc;
            svg {
                transform: scale(1.2);
            }
        }
    }
}
main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100dvh;

    header.header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            font-size: 3.6rem;
            font-weight: 500;
        }
        h2 {
            font-size: 1.6rem;
            font-weight: 200;
        }
        figure {
            border-radius: 50%;
            border: 6px solid #fff9;
            height: 200px;
            width: 200px;
            img {
                border-radius: 100px;
                height: 188px;
                width: 188px;
                object-fit: cover;
            }
        }
        h3 {
            font-size: 1.6rem;
            font-weight: 300;
        }
    }
    section.section {
        margin-top: 1rem;
        border-radius: 6px;
        padding: 1rem;
        min-height: 30dvh;
        width: 400px;
        background-color: #0009;
        h3 {
            font-size: 1.6rem;
            border-bottom: 2px dotted #fff6;
        }
        p.example {
            color: #6aae11;
            margin-top: 0.4rem;
            font-size: 1.6rem;
        }
        xmp {
            background-color: #0009;
            border-radius: 6px;
            color: #6aae11;
            font-size: 1rem;
            padding: 10px 10px 20px 10px;
        }
    }
    menu.menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.6rem;
        a:is(:link, :visited) {
            background-color: #fff9;
            border-radius: 25px;
            color: #380600;
            display: flex;
            align-items: center;
            gap: 0.6rem;
            text-decoration: none;
            width: 220px;
            transition: all 0.2s ease-in;
            span {
               background-color: #aa0000; 
               border: 2px solid #fff9;
               border-radius: 50%;
               color: #fff9;
               display: flex;
               justify-content: center;
               align-items: center;
               height: 40px;
               transition: all 0.4s ease-in;
               width: 40px;
            }
            &:hover span {
               border-radius: 50px;
               width: 60px;
            }
        }
    }
}

/* - - - - - - - - - - - - - */
/* M A I N   M E N U */
/* - - - - - - - - - - - - - */
body.main-menu {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
/* - - - - - - - - - -   - - - */
/* Emmet */
/* - - - - - - - - - - - - - */
body.emmet{
    background-color: #0B0D06;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230c350a' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%230c5e0e' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%230d8611' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%230daf15' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%230ED719' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    nav.nav {
        a {
            svg {
                fill: #000000;
            }
        }
    }

    menu.menu{
        a:is(:link, ::visited){
            color: #0B0D06;
            span {
                background-color: #7acb16;
            }
        }
    }
}