/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');

/* Body */
body {

    button {
        top: 0.5rem;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;


    }

    font-family: Monda;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100dvh;



    #login {
        img {

            filter: brightness(0) saturate(100%) invert(71%) sepia(77%) saturate(381%) hue-rotate(135deg) brightness(103%) contrast(102%);
        }

        h1 {
            color: #F7F6F7;
            font-size: 20px;
        }
    }


    /* Main  */
    main {
        &::-webkit-scrollbar {
            display: none;
        }

        background-color: #F7F6F7;
        height: 526px;
        width: 246px;
        border-radius: 5px;
        position: relative;
        overflow: auto;

        h2 {
            color: #045B6A;
            font-size: 24px;
            display: flex;
            justify-content: center;
        }

        /* Login */
        &#login {
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                padding: 0 2rem;
                bottom: 8rem;
                gap: 2rem;

                label {
                    display: flex;
                    flex-direction: column;

                    input {
                        padding: 0.5rem;
                        border-radius: 10px;
                        border: 1px solid #045B6A;
                        outline: none;

                        &:focus {
                            border-color: #045B6A;
                            box-shadow: 0 0 5px #045B6A;
                        }
                    }
                }

                button {
                    padding: 0.5rem 1rem;
                    border-radius: 5px;
                    border: none;
                    background-color: #045B6A;
                    color: #F7F6F7;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    width: 160px;
                    height: 30px;
                    transition: transform 0.3s ease, background-color 0.3s ease;

                    &:hover {
                        transform: scale(1.05);
                        background-color: #033E4D;
                    }
                }
            }
        }

        /* Dashboard */
        &#Dashboard {

            nav {
                img.icon {
                    filter: brightness(0) saturate(100%) invert(23%) sepia(78%) saturate(1054%) hue-rotate(149deg) brightness(95%) contrast(101%);
                }

                padding-top: 4rem;
                display: flex;
                justify-content: space-between;
                margin: 0 5px;
                transition: transform 0.3s ease;

                a,
                link,
                a:visited {
                    color: #045B6A;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                }

            }

            section.list {
                display: flex;
                gap: 0.4rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                div.row {
                    &:nth-child(even) {
                        background-color: #E0E0E0;
                    }

                    background-color: #7b7b7b;
                    border-radius: 5px;
                    display: flex;
                    gap: 0.4rem;
                    padding: 0.2rem;
                    height: 34px;
                    width: 226px;

                    img.img {
                        width: 40px;
                    }

                    div.data {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        width: 190px;

                        h3 {
                            font-size: 12px;
                            font-weight: 500;
                            margin: 0;
                        }

                        h4 {
                            font-size: 10px;
                            font-weight: 400;
                            margin: 0;
                        }
                    }

                    nav.actions {

                        padding-top: 0;
                        display: flex;
                        gap: 0.5rem;

                        a,
                        link,
                        a:visited,
                        button {
                            height: 26px;
                            width: 26px;

                            &.btnShow {

                                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(103%) contrast(103%);

                            }

                            &.btnEdit {
                                filter: brightness(0) saturate(100%) invert(71%) sepia(77%) saturate(381%) hue-rotate(135deg) brightness(103%) contrast(102%);
                            }

                            &.btnDelete {
                                filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(7485%) hue-rotate(0deg) brightness(103%) contrast(119%);


                            }
                        }
                    }

                }
            }
        }

        /* Add and Edit */
        &#Add,
        &#Edit {
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                padding: 0 1rem;
                top: 4rem;
                gap: 1rem;

                label {
                    display: flex;
                    flex-direction: column;

                    input {
                        padding: 0.5rem;
                        border-radius: 10px;
                        border: 1px solid #045B6A;
                        outline: none;

                        &:focus {
                            border-color: #045B6A;
                            box-shadow: 0 0 5px #045B6A;
                        }
                    }
                }

                textarea {
                    height: 60px;
                    padding: 0.5rem;
                    border-radius: 10px;
                    border: 1px solid #045B6A;
                    outline: none;

                    &:focus {
                        border-color: #045B6A;
                        box-shadow: 0 0 5px #045B6A;
                    }
                }

                div.action {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 170px;

                    button {
                        padding: 0.5rem 1rem;
                        border-radius: 5px;
                        border: none;
                        background-color: #045B6A;
                        color: #F7F6F7;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                        width: 80px;
                        height: 30px;
                        transition: transform 0.3s ease, background-color 0.3s ease;

                        &:hover {
                            transform: scale(1.05);
                            background-color: #033E4D;
                        }
                    }

                    button.btnCancel {
                        background-color: transparent;
                        color: red;
                        text-decoration: none;
                        font-weight: bold;
                        transition: transform 0.3s ease;

                        &:hover {
                            cursor: pointer;
                            transform: scale(1.05);
                        }
                    }
                }
            }


        }

        /* Detail */
        &#Detail {
            .data {
                top: 4rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                padding: 0rem 2rem;

                img {
                    width: 130px;
                    border-radius: 15px;
                    border: 2px solid #033E4D;
                }

            }


        }

        header {
            background-color: #045B6A;
            border-radius: 5px 5px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            position: fixed;
            z-index: 999;
            width: 246px;


            img {
                filter: brightness(0) saturate(100%) invert(71%) sepia(77%) saturate(381%) hue-rotate(135deg) brightness(103%) contrast(102%);
            }

            h1 {
                color: #F7F6F7;
                font-size: 20px;
            }


            button {
                display: flex;
                position: absolute;
                left: 0.4rem;
                transition: transform 0.3s ease;
            }

        }
    }

}

main.animateView{
    animation: animateView 0.4s ease-in 1;
}

@keyframes animateView {
    0%{
        opacity: 0;
        transform: scale(.6);
    }
}